.number-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.number-list li {
  margin: 5px;
}

.lotto-number {
  width: 50px;
  height: 50px;
  border: 1px solid none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.lotto-number.yellow {
  background: yellow;
  color: cadetblue;
}

.lotto-number.blue {
  background: blue;
}

.lotto-number.coral {
  background: coral;
}

.lotto-number.gray {
  background: gray;
}

.lotto-number.green {
  background: green;
}

#listContainer li {
  list-style-type: none;
}

#winning {
  width: 20px;
  height: 20px;
}
