.footerTop {
  height: 50px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerTop .list {
  padding-left: 0;
  left: 200px;
  display: flex;
  white-space: nowrap;
}

.footetmenu {
  width: 1180px;
}

.footerTop .list li + li {
  margin-left: 50px;
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nepp {
  margin-top: 20px;
  width: 1180px;
  display: flex;
}

.nepp img {
  object-fit: none;
  margin-right: 30px;
}

.neppInfo {
  font-size: 14px;
  flex: 1 0 auto;
}

.neppInfo .copyright {
  margin-top: 20px;
  font-size: 15px;
}

.contact {
  /* margin-right: 200px; */
  font-size: 14px;
  white-space: nowrap;
}

.contact .contactBox {
  padding-left: 10px;
  border-left: 1px solid lightgray;
}

.cul {
  font-weight: bold;
  display: inline-block;
  width: 72px;
}

@media (max-width: 1300px) {
  .footerTop,
  .list,
  .neppInfo,
  .footerBottom {
    flex-wrap: nowrap;
  }
  .neppInfo {
    width: 460px;
  }

  .footetmenu,
  .footerBottom {
    padding: 0 50px;
  }
}
