.loginManu {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  font-weight: 600;
}

.loginManu li {
  margin: 0px;
  padding: 3px 10px;
}

.loginManu li + li {
  border-left: 1px solid gray;
}


