button {
  cursor: pointer;
}
.btn-black {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
}

.btn-long {
  width: 335px;
  height: 40px;
  margin: 10px 0;
}

.btn-gray {
  background-color: gray;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 3px;
}
